.holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input{
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #222260;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  border: none;
}
.input ::placeholder{
  color: white;
  opacity: 0.8;
}
.textarea{
  width: 85%;
  margin-bottom: 7px;
  background-color: #222260;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  border: none;
}
.but{
  background-color: #fb68a8;
  border: none;
  color: white;
}
.but:hover{
  cursor: pointer;
}
.textarea ::placeholder{
  color: white;
  opacity: 0.8;
}
body{
  background-color: #efdae3;
  color: #222260;
}
@media screen and (max-width: 720px) {
  .but{
    width: 50% !important;
  }
}